In [9]:
import pandas as pd
import numpy as np

from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve, roc_auc_score
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn import preprocessing

In [2]:
df = pd.read_csv('HR_comma_sep.csv')
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Departments,salary,left
0,0.38,0.53,2,157,3,0,0,sales,low,1
1,0.80,0.86,5,262,6,0,0,sales,medium,1
2,0.11,0.88,7,272,4,0,0,sales,medium,1
3,0.72,0.87,5,223,5,0,0,sales,low,1
4,0.37,0.52,2,159,3,0,0,sales,low,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   promotion_last_5years  14999 non-null  int64
 7   Departments            14999 non-null  object
 8   salary                 14999 non-null  object
 9   left                   14999 non-null  int64
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [4]:
## There are no NULL values in the data-set
df.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
promotion_last_5years    0
Departments              0
salary                   0
left                     0
dtype: int64

In [6]:
print("Departments column : ",np.unique(df['Departments ']))
print("\nSalary column        : ",np.unique(df['salary']))

Departments column :  ['IT' 'RandD' 'accounting' 'hr' 'management' 'marketing' 'product_mng'
 'sales' 'support' 'technical']

Salary column        :  ['high' 'low' 'medium']

In [7]:
#creating labelEncoder
le = preprocessing.LabelEncoder()

# Converting string labels into numbers.
df['salary']            = le.fit_transform(df['salary'])
df['Departments ']= le.fit_transform(df['Departments '])

In [8]:
print("Departments column : ",np.unique(df['Departments ']))
print("\nSalary column           : ",np.unique(df['salary']))

Departments column :  [0 1 2 3 4 5 6 7 8 9]

Salary column           :  [0 1 2]

## Question-3

In [10]:
df3 = pd.read_excel('Wholesale customers data.xls')
df3.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [ ]:
from sklearn.cluster import DBSCAN
db_scan = DBSCAN(eps=1.0, min_samples=4)

## Question-4

In [ ]:
df4 = pd.read_excel('Wholesale customers data.xls')
df3.head()